<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EthanYoung.PersonalWebsite.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <applicationSettings>
    <EthanYoung.PersonalWebsite.Tests.Properties.Settings>
      <setting name="LocalDev-WIN7-1-eyoung_SampleImagesFolderPath" serializeAs="String">
        <value>E:\src\Personal\ImageLibraryManagementStudio\Source\Tests\AcceptanceTests\SampleImages</value>
      </setting>
      <setting name="LocalDev-WIN7-1-eyoung_OutputFilesFolderPath" serializeAs="String">
        <value>E:\src\Personal\ImageLibraryManagementStudio\Source\Tests\AcceptanceTests\OutputFiles</value>
      </setting>
      <setting name="SampleImagesFolderPath" serializeAs="String">
        <value>C:\TeamCity\buildAgent\work\7e5a31604fe1dcf1\Source\Tests\AcceptanceTests\SampleImages</value>
      </setting>
      <setting name="OutputFilesFolderPath" serializeAs="String">
        <value>C:\TeamCity\buildAgent\work\7e5a31604fe1dcf1\Source\Tests\AcceptanceTests\OutputFiles</value>
      </setting>
    </EthanYoung.PersonalWebsite.Tests.Properties.Settings>
  </applicationSettings>
</configuration>